@import "../fonts/broya.css";

@import "../fonts/bsalamat.css";

@import "../fonts/byekan.css";

@font-face {
	font-family: 'BBCNassim';
	src: url('../fonts/BBCNassim.eot');
	src: local('☺'), local('BBCNassim'), url('../fonts/BBCNassim.woff')
		format('woff'), url('../fonts/BBCNassim.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* =Reset
-------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline
}

body {
	line-height: 1.5
}

table {
	border-collapse: separate;
	border-spacing: 0;
	margin: 0 0 0 0
}

caption,th,td {
	text-align: left;
	font-weight: normal
}

table,td,th {
	vertical-align: middle
}

blockquote:before,blockquote:after,q:before,q:after {
	content: ""
}

blockquote,q {
	quotes: "" ""
}

a img {
	border: none
}

* :focus {
	outline: 0
}

/* clearfix method for clearing floats */
.clearfix:after {
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* essential for Safari browser !! */
.clearfix {
	display: block;
}

/* overflow method for clearing floats */
.floatbox {
	overflow: hidden;
}

/* older method of adding empty tags for clearing */
.clear {
	clear: both;
}

/* If you are not using a child-theme, your custom styling starts here
/* =Layout
-------------------------------------------------------------- */
body {
	direction: rtl;
	font-size: 13px;
	font-family: 'B Yekan', tahoma, 'Open Sans', sans-serif;
	color: #777777;
	/*	background-image: url('http://subtlepatterns.com/images/transp_bg.png');*/
	background-attachment: fixed;
	font-weight: 400;
	line-height: 18px;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

input,textarea,select {
	font-family: 'B Yekan', tahoma, 'Open Sans', sans-serif;
	border-radius: 4px;
	background-color: #FFFFFF;
	COLOR: #000000;
	border: 1px solid #d6d6d6;
}

input[type="submit"] {
	cursor: pointer;
}

option {
	cursor: pointer;
}

/* Header */
#header {
	border-top: #1FDA9A 4px solid;
	background-color: rgba(255, 255, 255, 0.9);
	height: 65px;
	border-bottom: solid 1px #eaeaea;
	width: 100%;
	z-index: 500;
}

#header .inner-header {
	margin-right: 150px;
	position: relative;
}

.toplogo {
	display: block;
	float: right;
	background-color: #1FDA9A;
	padding: 12px 30px 10px 30px;
	height: 44px;
	width: 30px;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.toplogo a {
	width: 60px;
	height: 50px;
	display: block;
}

#topmenu {
	float: right;
	margin-top: -6px;
}

#topmenu .menu {
	margin: 0;
	margin-bottom: 7px;
	list-style: none;
}

#topmenu .menu li {
	float: right;
	margin-left: 0;
	padding-bottom: 11px;
	letter-spacing: 1px;
}

#topmenu .menu li a {
	display: block;
	border-left: solid #eaeaea 1px;
	border-bottom: none;
	font-weight: 400;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #999;
	padding: 24px 20px 22px 20px;
	margin-top: 0px;
	text-decoration: none;
}

#topmenu .menu li a:hover {
	border-bottom: 0;
	color: #333 !important;
}

#topmenu .menu li a.active {
	color: #008000 !important;
}

#topmenu .menu li.current_page_item a {
	color: green !important;
}

/* Body */
#content {
	margin: 30px auto 0 auto;
	width: 970px;
	position: relative;
}

#message {
	padding-bottom: 3px;
}

#sidebar {
	left: 0;
	width: 170px;
	position: absolute;
	direction: rtl;
	margin: 0 auto;
}

#sidebar .top {
	text-align: right;
	margin-bottom: 15px;
}

#sidebar .top img {
	width: 20px;;
}

#sidebar .menu {
	margin-bottom: 20px;
}

#sidebar .menu .title {
	margin-bottom: 7px;
	color: #000;
	border-bottom: #eaeaea 3px dashed;
}

#sidebar .menu .content {
	margin-bottom: 8px;
}

#sidebar .menu .item {
	cursor: pointer;
	border-right: solid #4ECDC4 3px;
	padding: 7px 2px;
	transition: all 0.8s ease 0.0s;
}

#sidebar .menu a {
	color: #777777;
}

#sidebar .menu .item:hover {
	transition: none;
	background: #ffff99;
}

#sidebar .menu .item.active {
	border-right: solid #FE4365 3px;
}

#slots .title {
	background: #10BBE6;
	height: 30px;
	line-height: 30px;
	border: solid 1px #eee;
	text-align: center;
	border: 3px solid #eaeaea;
	color: #fff;
	font-size: 18px;
}

#slots #dropholder {
	position: relative;
}

#slots.active .drophere {
	display: inline;
	opacity: 0.3;
	filter: alpha(opacity = 30);
	MozOpacity: 0.3;
	KhtmlOpacity: 0.3;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	top: 0;
	background: url("../images/stack.png") no-repeat center center #eaeaea;
}

#slots.hovered .drophere {
	display: inline;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	MozOpacity: 0.8;
	KhtmlOpacity: 0.8;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	top: 0;
	background: url("../images/stack.png") no-repeat center center #eaeaea;
}

#slots.active #cardslots {
	border: 3px dashed #ccc;
	border-top: none;
}

#slots #cardslots {
	min-height: 154px;
	border: 3px dashed #eaeaea;
	border-top: none;
	overflow: hidden;
	max-height: 200px;
	position: relative;
}

#slots .item {
	font-family: BBCNassim;
	position: relative;
	background: #FFFFFF;
	width: 148px;
	height: 38px;
	margin: 1px;
	padding: 5px;
	line-height: 36px;
	padding-right: 10px;
	border: solid 1px #eee;
	border-right: none;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

#slots .item span {
	display: inline-block;
	overflow: hidden !important;
	text-overflow: ellipsis;
	width: 95px;
	line-height: normal;
	vertical-align: middle;
}

#slots .item input {
	font-family: BBCNassim;
	font-size: 15px;
	width: 25px;
	margin-left: 8px;
	margin-top: 4px;
	float: left;
	text-align: center;
	color: #ccc;
}

#slots .item .close {
	background: url("../images/close.png") no-repeat center left;
	width: 12px;
	height: 12px;
	float: left;
	cursor: pointer;
}

#slots .item .ind {
	background: #3bc4fa;
	position: absolute;
	right: 0;
	width: 5px;
	top: -1px;
	bottom: -1px;
}

#slots .bottom {
	margin-top: 5px;
}

#slots .bottom label {
	display: block;
	padding-bottom: 2px;
	text-align: right;
}

#slots .bottom .submit input {
	float: left;
}

#slots .bottom .submit img {
	float: left;
	display: none;
	width: 24px;
	margin-top: 6px;
	margin-left: 5px;
}

#slots .bottom input[type="submit"] {
	font-family: 'B Yekan';
	padding: 5px;
	width: 80px;
	transition: all 0.2s ease 0.0s;
}

#slots .bottom input[type="text"],#slots .bottom input[type="password"],#slots .bottom textarea,#slots .bottom select {
	margin-bottom: 5px;
	font-family: 'B Yekan';
	padding: 5px;
	width: 159px;
	transition: all 0.2s ease 0.0s;
	text-align: left;
	direction: ltr;
}

#slots .bottom select {
	padding: 0;
	height:35px;
	width: 169px;
	direction: rtl;
	text-align: right;
}
#slots .bottom option {
	padding: 5px;
}

#slots .bottom input[type="text"]:focus,#slots .bottom select:focus {
	background: #F6F6F6;
}

#slots .bottom input[type="submit"]:hover {
	cursor: pointer;
	color: #fff;
	background: #10BBE6;
}

#wrapper {
	margin-left: 202px;
}

#main {
	width: 100%;
	background: #fff;
	border-top: solid 2px #eaeaea;
	border-bottom: solid 2px #eaeaea;
	border-right: solid 1px #eaeaea;
	border-left: solid 1px #eaeaea;
	box-shadow: 0 0 10px 1px #E0E4CC;
	float: right;
	min-height: 450px;
}

#main.admin {
	padding: 0 10px;
}

#main .title {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	padding: 18px;
}

#category {
	
}

#category li {
	font-family: 'BBCNassim';
	white-space: nowrap;
	display: table-cell;
	border: solid #eaeaea 1px;
	font-size: 16px;
	color: #999;
	padding: 10px 15px;
	text-decoration: none;
	width: 160px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	line-height: 40px;
	transition: all 0.5s ease 0.1s;
}

#category li:hover {
	transition: none;
	background: #00C8F8;
}

#category li.active {
	background: #10BBE6;
	color: #fff;
}

#cards {
	margin: 25px;
}

.cards .item {
	float: right;
	background: #E9EAED;
	width: 80px;
	height: 100px;
	margin: 0 5px;
	border: 1px solid #999999;
	border-radius: 5px;
	padding: 5px;
	margin-top: 8px;
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: ellipsis;
	cursor: move;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	position: relative;
}

.cards .item span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.cards .item .price {
	line-height: normal;
	left: 4px;
	padding: 0 2px;
	background: #ECE5CE;
	font-size: 9px;
	border: 1px #fff solid;
	position: absolute;
	bottom: 0;
}

#cards .title {
	
}

#result {
	width: 500px;
	margin: 20px auto;
}

#result .item {
	font-family: 'B Yekan';
	margin-top: 20px;
}

#result .item .title {
	background: #10BBE6;
	height: 25px;
	line-height: 27px;
	text-align: center;
	border: 3px solid #eaeaea;
	border-bottom: none;
	color: #fff;
	font-size: 16px;
}

#result .item .content {
	border: 3px solid #eaeaea;
	border-top: 3px dashed #eaeaea;
}

.content a {
	color: blue;
}

.content table {
	width: 100%;
	border-collapse: collapse;
	border-style: hidden;
	/*table-layout:fixed;*/
}

.content tr {
	
}

.content th,.content td {
	border: 1px solid #b7b7b7;
}

.content th {
	height: 20px;
	background: #ccc;
	text-align: center;
	white-space: nowrap;
}

.content td {
	height: 30px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.content td input[type="text"] {
	width: 20px;
	text-align: center;
}

#result .item .bottom {
	font-size: 14px;
	font-style: italic;
	padding: 4px;
}

#footer {
	color: #0171AF;
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: center;
}

#footer a {
	color: #999999;
}

.formrow {
	margin: 15px 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.formrow .label {
	padding-bottom: 2px;
}

.formrow input[type="text"],.formrow input[type="password"],.formrow textarea
	{
	width: 200px;
}

.formrow.wide input[type="text"],.formrow.wide input[type="password"],.formrow.wide textarea
	{
	width: 300px;
}

.pagination {
	text-align: center;
	direction: ltr;
}

.pagination .item.active {
	text-shadow: 1px 1px 5px black;
	box-shadow: inset #ddd 0px 0px 10px;
}

.pagination .item {
	padding: 1px 4px;
	text-align: center;
	width: 20px;
	cursor: pointer;
}